<h1>All Appointments on 13/04/2025</h1>
<ul>
  <% @appointments.each do |appt| %>
    <li>
      Appointment ID: <%= appt.id %>,
      Patient: <%= appt.patient&.email || 'No patient' %>,
      Date: <%= appt.date %>,
      Time: <%= appt.time %>,
      Payment: <%= appt.payment&.status || 'No payment' %>
    </li>
  <% end %>
</ul>

<h1>Danilo's Appointments on 13/04/2025</h1>
<ul>
  <% @danilo_appointments.each do |appt| %>
    <li>
      Appointment ID: <%= appt.id %>,
      Date: <%= appt.date %>,
      Time: <%= appt.time %>,
      Payment: <%= appt.payment&.status || 'No payment' %>
    </li>
  <% end %>
</ul>