<div class="container mt-5">
  <h1>Admin Dashboard</h1>

  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Appointments</h5>
          <p class="card-text"><%= Appointment.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Patients</h5>
          <p class="card-text"><%= Patient.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Clinics</h5>
          <p class="card-text"><%= Clinic.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Professionals</h5>
          <p class="card-text"><%= Professional.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Total Secretaries</h5>
          <p class="card-text"><%= User.where(role: :secretary).count %></p>
        </div>
      </div>
    </div>
  </div>
</div>