<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Pago Confirmado</h1>
    <p>Hola <%= @patient.name %>,</p>
    <p>Gracias por tu pago para el turno #<%= @appointment.id %>.</p>
    <p>Detalles:</p>
    <ul>
      <li><strong>Fecha:</strong> <%= @appointment.date.strftime('%d/%m/%Y') %></li>
      <li><strong>Hora:</strong> <%= @appointment.time.strftime('%H:%M') %></li>
      <li><strong>Profesional:</strong> <%= @user.first_name %> <%= @user.last_name %></li>
      <li><strong>Clínica:</strong> <%= @clinic.name %>, <%= @clinic.address %></li>
    </ul>
    <p>Tu turno está confirmado. Si necesitas más información, contacta a la clínica.</p>
    <p>Saludos,<br>Equipo DocSync</p>
  </body>
</html>