<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Payment Confirmed</h1>
    <p>Hello <%= @patient.name %>,</p>
    <p>Thank you for your payment for appointment #<%= @appointment.id %>.</p>
    <p>Details:</p>
    <ul>
      <li><strong>Date:</strong> <%= @appointment.date.strftime('%Y-%m-%d') %></li>
      <li><strong>Time:</strong> <%= @appointment.time.strftime('%H:%M') %></li>
      <li><strong>Professional:</strong> <%= @user.first_name %> <%= @user.last_name %></li>
      <li><strong>Clinic:</strong> <%= @clinic.name %>, <%= @clinic.address %></li>
    </ul>
    <p>Your appointment is confirmed. If you need more information, please contact the clinic.</p>
    <p>Best regards,<br>DocSync Team</p>
  </body>
</html>