<div class="container-fluid mt-3 px-4 d-flex flex-column" style="min-height: 100vh;">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Patients</h1>
    <%= will_paginate @patients %>
    <%= link_to 'New Patient', new_patient_path, class: 'btn btn-primary' %>
  </div>

  <div class="filter-wrapper px-0">
    <%= form_with url: patients_path, method: :get, local: true, class: 'mb-3 filter-form' do |form| %>
      <div class="row g-3">
        <div class="col-md-5 col-12">
          <%= form.text_field :name, value: params[:name], class: 'form-control', placeholder: 'Search by Name' %>
        </div>
        <% if admin? || secretary? %>
          <div class="col-md-5 col-12">
            <%= form.collection_select :professional_id, Professional.all, :user_id, :user_name, { prompt: 'Filter by professional' }, class: 'form-select' %>
          </div>
        <% end %>
        <div class="col-md-2 col-12 d-flex align-items-end">
          <%= form.submit 'Filter', class: 'btn btn-primary me-2 w-100' %>
          <%= link_to 'Clear', patients_path, class: 'btn btn-secondary w-100' %>
        </div>
      </div>
    <% end %>
  </div>

  <% if @patients.any? %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Professional</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= "#{patient.first_name} #{patient.last_name}" %></td>
              <td><%= patient.email %></td>
              <td><%= patient.phone %></td>
              <td><%= "#{patient.professional.first_name} #{patient.last_name}" if patient.professional %></td>
              <td class="actions">
                <%= link_to 'Show', patient_path(patient), class: "btn btn-info btn-sm" %>
                <%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-warning btn-sm" %>
                <% if admin? %>
                  <%= link_to 'Delete', patient_path(patient), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
  <% else %>
    <p>No patients found.</p>
  <% end %>
</div>