<% if appointment.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= pluralize(appointment.errors.count, "error") %> impidieron guardar este turno:</h4>
    <ul>
      <% appointment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if current_user.role == 'patient' %>
  <%= form.hidden_field :patient_id %>
  <%= form.hidden_field :professional_id %>
  <%= form.hidden_field :clinic_id %>
  <%= form.hidden_field :status, value: 'pending' %>
  
  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :time, "Available Times", class: "form-label" %>
    <%= form.select :time, 
                   @available_times.map { |time| [time.strftime('%H:%M'), time.strftime('%H:%M')] },
                   { include_blank: "Select a time" }, 
                   class: "form-control", 
                   required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :treatment_details, "Treatment Details", class: "form-label" %>
    <%= form.text_area :treatment_details, class: "form-control" %>
  </div>

<% else %>
  <div class="mb-3">
    <%= form.label :patient_id, "Patient", class: "form-label" %>
    <%= form.collection_select :patient_id, Patient.all, :id, :name, { include_blank: true }, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :professional_id, "Professional", class: "form-label" %>
    <%= form.collection_select :professional_id, Professional.all, :id, :user_name, { include_blank: true }, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, Appointment.statuses.keys.map { |status| [status.humanize.capitalize, status] }, { include_blank: true }, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :clinic_id, "Clinic", class: "form-label" %>
    <%= form.collection_select :clinic_id, Clinic.all, :id, :name, { include_blank: true }, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_field :date, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :time, class: "form-label" %>
    <%= form.time_field :time, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :treatment_details, "Treatment Details", class: "form-label" %>
    <%= form.text_area :treatment_details, class: "form-control" %>
  </div>
<% end %>